    /* Start Global Rules */

    @import url('https://fonts.googleapis.com/css2?family=Lato&family=Satisfy&display=swap');

    * {
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      margin: 0;
      padding: 0;
    }

    body {
      margin: 0;
      font-family: -apple-system, Satisfy, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
      font-family: 'Lato', sans-serif;
      font-family: 'Satisfy', cursive;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }

    @tailwind base;
    @tailwind components;
    @tailwind utilities;

    code {
      font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace !important;
    }


    html {
      scroll-behavior: smooth;
    }


    a {
      text-decoration: none;
      color: initial;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    .container {
      padding: 0 15px;
      margin: 0 auto;
    }

    /* Small */
    @media (min-width: 768px) {
      .container {
        width: 750px;
      }
    }

    /* Medium */
    @media (min-width: 992px) {
      .container {
        width: 970px;
      }
    }

    /* Large */
    @media (min-width: 1200px) {
      .container {
        width: 1170px;
      }


    }

    .workspace {
      height: fit-content;
      min-height: 86vh;
      position: relative;
      width: 90%;
      margin: 10px auto;
      text-align: center;
    }


    body {

      background-color: #fff;
      color: #000;
      font-family: var(--font-family) !important;

    }

    /* *************************************************************************************************** */

    h1 {
      font-size: 350%;
      color: var(--font-color);
    }

    h2 {
      font-size: 120%;
      color: var(--font-color);

    }

    h3 {
      font-size: 120%;
      color: var(--font-color);
      font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace !important;

    }

    p {
      font-size: 100%;
      color: var(--font-color);

    }

    label {
      font-size: 100%;
      color: var(--font-color);

    }